//May need to tidy up this up later


ul{
  height: 0;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  li{
    height: 400px;
    width: 100%;
    @include tablet {
      width: 50%;
    }
    @include desktop {
      width: 25%;
    }
  }
}

a {
  text-decoration: none;
  color: $white;
}

figure {
  height: 100%;
  position: relative;
  background-size: cover;
  figcaption {
    padding: 1rem;
    box-sizing: $border-box;
    height: 150px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: $trans-black;
    text-align: left;
    opacity: 1;
    transition: $ease-in;
    @include desktop{
      opacity: 0;
      height: 0;
    }
  }
  &:hover figcaption {
    opacity: 1;
    height: 150px;
  }
}

.loading {
  height: 50px;
  display: none;
}
