%full-width {
  width: $hundred-percent;
}

%max-full-width {
  max-width: $hundred-percent;
}

%full-height {
  height: $hundred-percent;
}

%display-flex {
  display: flex;
}

%text-align-center {
  text-align: center;
}
