/* ------ fonts ------ */

@font-face {
    font-family: 'Open Sans';
    src: url('../build/opensans-light-webfont.eot');
    src: url('../build/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../build/opensans-light-webfont.woff2') format('woff2'),
         url('../build/opensans-light-webfont.woff') format('woff'),
         url('../build/opensans-light-webfont.ttf') format('truetype'),
         url('../build/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: 300;
    font-style: normal;
}
