/* ------ footer ------ */

footer {
  color: $grey;
  width: 100%;
  height: 10vh;
  box-sizing: border-box;
  justify-content: flex-start;
  span {
    text-transform: uppercase;
  }
  @include desktop {
    text-align: left;
    padding: 2rem;
  }
}
