/* ------ generic ------ */

html {
  height: 100%;
}

body {
  height: 100%;
  font: $base-font;
  background-color: black;
  color: $white;
}

img {
  width: auto;
  height: 100%;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

h2, h1 {
  font-size: 0;
}
