/* ------ header ------ */

header {
  display: flex;
  height: auto;
  height: 90vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: $ease-in;
  padding: 1rem;
  box-sizing: $border-box;
  @include tablet {
    flex-direction: row;
  }
  @include desktop {
    justify-content: flex-start;
  }
  .logo {
    margin-bottom: 1rem;
    @include tablet {
      margin: 0;
    }
    img {
      height: 220px;
      transition: $ease-in;
    }
  }
  p {
    margin-bottom: 1rem;
    text-align: center;
    @include tablet {
      text-align: left;
    }
  }
}
