/* ------ variables ------ */

$base-font: normal 16px 'Open_Sans', sans-serif;
$white: #ffffff;
$grey: #c2c2c2;
$trans-black: rgba(0,0,0,0.5);
$tablet-width: 600px;
$desktop-width: 1000px;
$ease-in: all .5s ease-in;
$border-box: border-box;
